@import url('./styles/PhoneForm.css');
@import url('./styles/Navbar.css');

#root {
  margin: 0;
}

.logo {
  margin-bottom: 2em;
  display: flex;
  width: 200px;
}

.instructions {
  max-width: 350px;
  margin: 0;
}

h3 {
  font-family: 'Rubik';
  font-weight: 200;
  color: #ffffff;
  font-size: 1rem;
  margin: 2rem 0;
}
